// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// オフラインだった時のCSS
.offline {
  text-align: center;
  display: block;
  background-color: rgba(204,19,147,0.5);
  color: rgb(255,255,255);
}
